name: Build

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-24.04
    container: fedora:42
    steps:
    - uses: actions/checkout@v6
    - name: Install dependencies
      run: dnf install -y git rpmdevtools
    - name: Get changed .spec files
      id: changed-files
      uses: tj-actions/changed-files@v47
      with:
        files: specs/*.spec
    - name: Build RPM
      if: steps.changed-files.outputs.any_changed == 'true'
      env:
        ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
      run: |
        for file in ${ALL_CHANGED_FILES}; do
          echo "$file was changed"
          spectool -Rg "$file"
          rpmbuild -ba "$file"
        done
